body{
    background-color: gray;
    margin: 0px;
    height: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;    
}

.timer{
    display: flex;
    flex-direction: column;
}